.tab-pane *.tab-header-area *.tab-header-background {
/*   -fx-background-color:transparent; */
  -fx-background-color:#96F3Fa; 
  -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
  -fx-tab-min-height:50px;
  -fx-tab-max-height:50px;
}

.tab {
  -fx-font-family: Verdana;
  -fx-font-size: 18;
  -fx-background-color:#00B7D6 ;
}

.tab:selected {
    -fx-background-color:#4AE2EF ;
}
